/* comment.css */

.comment-section {
    margin-top: 20px;
  }

  .comment-form {
    margin-bottom: 20px;
  }

  .comment-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .comment-form input[type="text"],
  .comment-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }

  .comment-form button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .comment-form button:hover {
    background-color: #0069d9;
  }

  .comment-list {
    list-style: none;
    padding: 0;
  }

  .comment {
    margin-bottom: 20px;
  }

  .comment .comment-header {
    margin-bottom: 5px;
  }

  .comment .comment-author {
    font-weight: bold;
  }

  .comment .comment-content {
    margin-bottom: 10px;
  }

  .comment .comment-date {
    font-size: 12px;
    color: #666;
  }

  .comment .approved {
    color: green;
    font-weight: bold;
  }

  .comment .not-approved {
    color: red;
    font-weight: bold;
  }

  a {
    color: #24366b;
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: rgb(31, 176, 238);
}

#categories-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#categories-table td, #categories-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#categories-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#categories-table tr:hover {
    background-color: #ddd;
}

#categories-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #628ff0;
    color: white;
}
